.driver_container {
    display: flex;
}

.table_driver {
    width: 900px;
    margin-top: 20px;
}

.table_driver table {
    max-width: 900px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    padding: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
}

.table_driver th, .table_driver td {
    padding: 8px;
    text-align: left;
    font-size: 13px;
    text-align: center;
    color: #7D7D7D;
    padding: 20px 30px;
}

.table_driver th {
    text-align: center;
    font-weight: bold;
    color: #7D7D7D;
    font-size: 14px;    
    padding-bottom: 50px;
}