.question_content {
  display: block;
  margin: 0 auto;
}

.table_question {
  min-width: 900px;
  margin-top: 20px;
}

.table_question table {
  min-width: 900px;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.table_question th,
.table_question td {
  padding: 8px;
  text-align: left;
  font-size: 13px;
  text-align: center;
  color: #7d7d7d;
  padding: 20px 30px;
}

.table_question th {
  text-align: center;
  font-weight: bold;
  color: #7d7d7d;
  font-size: 14px;
  padding-bottom: 50px;
}

.filter {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.filter > p {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.activeFilter {
  color: #0bd366;
}
