.header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.navigate > ul {
    list-style: none;
    display: flex;
    gap: 55px;
}

.navigate > ul > li >a {
    text-decoration: none;
    color: black;
}

.navigate > ul > li > a:hover {
    color: #0BD366;
    transition: .3s;
}

.navigate {
    margin-left: 5%;
}

.auth {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.log {
    border: none;
    background: none;
    cursor: pointer;
}

.log:hover {
    color: #0BD366;
    transition: .3s;
}

.reg {
    gap: 10px;
    padding: 5px 15px;
    cursor: pointer;
    height: 36px;
    background-color: #fff;
    border: 2px solid #0BD366;
    border-radius: 20px;
    color: #0BD366;
}

.reg:hover {
    color: #fff;
    background-color: #0BD366;
    transition: .5s;
}

@media screen and (max-width: 1000px) {
    .navigate {
        display: none;
    }
    .auth {
        display: none;
    }
    
}