.customers_container {
  display: flex;
  margin: 0 auto;
}

.table_customers {
  width: 900px;
  margin-top: 20px;
}

.table_customers table {
  max-width: 900px;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.table_customers th,
.table_customers td {
  padding: 8px;
  text-align: left;
  font-size: 13px;
  text-align: center;
  color: #7d7d7d;
  padding: 20px 30px;
}

.table_customers th {
  text-align: center;
  font-weight: bold;
  color: #7d7d7d;
  font-size: 14px;
  padding-bottom: 50px;
}
