.map {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    text-align: center;

}

.map > h2 {
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 30px;
}

.map > p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #5a5a5a;
    padding-bottom: 50px;
}

.map_container {
    border: 1px solid #d1d5db;
    border-radius: 20px;
    padding: 24px;
    max-width: 1140px;
    height: 500px;
    margin-bottom: 30px;
    box-shadow: 7px 13px 35px 0px rgba(0, 0, 0, 0.09);
}